{% extends "shared/_dashboard.html" %}
{% block title %} CDM Mapping {% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container">
            <div id="nav-tabs">
                <h3></h3>
                <div class="row">
                    <div class="col-lg-12 col-md-8">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-warning">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active show" href="#CDM" aria-selected="true">
                                                    <i class="material-icons">share</i>
                                                    CDM
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/frameworks/csf" aria-selected="true">
                                                    <i class="material-icons">share</i>
                                                    CSF
                                                </a>
                                            </li>
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link" href="/frameworks/csc" aria-selected="true">#}
{#                                                    <i class="material-icons">share</i>#}
{#                                                    CSC#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link" href="/frameworks/cobit" aria-selected="true">#}
{#                                                    <i class="material-icons">share</i>#}
{#                                                    Cobit 5#}
{#                                                </a>#}
{#                                            </li>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div id="CDM" class="tab-pane active show">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">fingerprint</i>
                                                        </div>
                                                        <h4>Identify</h4>
                                                    </div>

                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">security</i>
                                                        </div>
                                                        <h4>Protect</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">report</i>
                                                        </div>
                                                        <h4>Detect</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">engineering</i>
                                                        </div>
                                                        <h4>Respond</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">healing</i>
                                                        </div>
                                                        <h4>Recover</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">devices</i>
                                                        </div>
                                                        <h4>Devices</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">apps</i>
                                                        </div>
                                                        <h4>Applications</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">device_hub</i>
                                                        </div>
                                                        <h4>Networks</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">folder_open</i>
                                                        </div>
                                                        <h4>Data</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray; border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-bottom: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons">people</i>
                                                        </div>
                                                        <h4>Users</h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="border-right: 1px solid darkgray">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="info">
                                                        <div class="icon">
                                                            <i class="material-icons"></i>
                                                        </div>
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
{% endblock %}