{% extends "shared/_dashboard.html" %}
{% block title %} User Profile {% endblock %}
{% block main_content %}
    <div class="content">
        <div class="container">
            <div id="nav-tabs">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-warning">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin/toolbox" aria-selected="true">
                                                    <i class="material-icons">account_box</i>
                                                    Toolbox Management
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active show" href="#users" aria-selected="true">
                                                    <i class="material-icons">chat</i>
                                                    User Management
                                                </a>
                                            </li>
                                        </ul>
                                    </div> {# Close nav-tabs-wrapper #}
                                </div> {# Close nav-tabs-navigation #}
                            </div> {# Close card-header card-header-warning #}
                            <div class="card-body">
                                <div class="tab-content">
                                    <div id="users" class="tab-pane active show">
                                        <table>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Last Logon</th>
                                            </tr>
                                        {% for user in users %}
                                            <tr>
                                                <td><a href="/admin/{{ user.user_id }}">Edit</a></td>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.role }} </td>
                                                <td>{{ user.status }}</td>
                                                <td>{{ user.last_logon }}</td>
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div> {# End of Messages #}
                                </div> {# End of Tab Content #}
                            </div> {# End of Card Body #}
                        </div> {# End of Card Card-Nav-Tabs #}
                    </div> {# End of col-md-8 #}
                </div> {# End of row #}
            </div> {# End of Nav-tabs #}
        </div> {# End of Container #}
    </div> {# End of Content #}
{% endblock %}
{% block additional_js %}{% endblock %}